
 <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>Find Out More <span>About Us</span></h3>
          <p>The Central Bank of Yemen establishes the Yemen Stock Exchange, the first stock exchange in the country. </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>The first stock exchange established in Yemen under the name of "Securties Exchange Unit" by Central Bank of Yemen</h3>
            <p class="fst-italic">
             The Securities Trading Unit is an ambitious project that aims to establish a stock market unit to serve as the nucleus of the Yemeni financial and institutional market system through the monetary and financial policies of the national economy, in a manner that does not contradict the provisions of Islamic law. It achieves the highest levels of reliability and transparency for investors, as well as the protection of national capital.
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>Our Vision</h5>
                  <p>A leading market for trading securities in the Republic of Yemen, according to international standards, capable of attracting investments and national capital</p>
                </div>
              </li>
              <li>
                <i class="bx bx-message"></i>
                <div>
                  <h5>Our Message</h5>
                  <p>Providing a secure platform for trading securities that is characterized by integrity, efficiency, justice and transparency, and is compatible with the provisions of Islamic Sharia</p>
                </div>
              </li>
               <li>
                <i class="bx bx-message"></i>
                <div>
                  <h5>Our Core Values</h5>
                  <p>1- Honesty and integrity
2- Disclosure and transparency
3- Maintain confidentiality of information in a manner that does not conflict with the principles of disclosure
4- Ongoing development 
5- Knowledge promoting and disseminating
6- Social responsibility
7- Participatory</p>
                </div>
              </li>
            </ul>
          
          </div>
        </div>

      </div>
    </section><!-- End About Section -->